# IDEs and Editors
*.iml
.idea/
.DS_Store
.vscode/

# Build and Gradle
.gradle/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# Environment Variables and Secrets
local.properties
.env
.env.local
.env.development
.env.production
*.jks
*.keystore

# Node/Web (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
